<div class="nav">
    <div class="links">
        <%= link_to (image_tag('home.svg') + 'Home'), root_path, {:class => 'css-links', :style => 'color:#011638'}%>
        <%= link_to (image_tag('info.svg') + 'About'), about_path, {:class => 'css-links', :style => 'color:#011638'}%>
        <%= link_to (image_tag('share-2.svg') + 'Share'), root_path, {:class => 'css-links', :style => 'color:#011638'} %>
        <%# <%= social_share_button_tag('Share') %>
    </div>
</div>