<div class="card-category">
    <% @quotations.each do |quotation| %>
            <%= quotation.text %>
    <% end %>
    <div class="box">
    <button>
        <%= link_to "More ➜", quotations_path%>
    </button>
    </div>
</div>