<div class="background">    
<%= render 'shared/navbar'%>
    <div class="transparent-box">
        <h2>
            <%= @quotation.text %>
        </h2>
    </div>
    <button>
        <%= link_to (image_tag('refresh-cw.svg') + 'More'), quotations_random_path, {:class => 'css-button', :style => 'color:#011638'}%>
    </button> 
</div>