<div class="about-wrapper">
    <div class="nav">
        <%= link_to image_tag('home.svg'), root_path%>
    </div>
    
    <div class="grid">
        <p>This app was created by Krista Calleja, Josef Kalleya's last grandchild, who has very fond memories of her paternal grandfather. Born in 1985, she was too young to understand the depth of her grandfather's philosophical musings. Nonetheless, decades later, when furthering her language studies, she chose to study Dante Alleghieri's "Inferno" and there she came in touch with many of her grandfather's images she had glimpsed in her childhood.</p>
        <%= image_tag "kristacalleja.png", alt: "Krista Calleja old photograph" %>
    </div>
</div>