<div class="about-wrapper">
<%= render 'shared/navbar'%>
    
    <div class="grid">
    
        <p>This app was created by Josef Kalleya's youngest grandchild, Krista Calleja, who has very fond memories of her paternal grandfather 'Nannu'. Born in 1985, she was too young to understand the depth of her grandfather's philosophical musings. 
        <br><br>Contributions to this app were made by the family and friends of the artist.
        <br><br><strong>If you have more Kalleya punchlines to add please get in touch by clicking the envelope button below.</strong></p>
        <figure>
            <%= image_tag "kristacalleja2.png", alt: "Krista Calleja old photograph" %>
            <figcaption>Krista trying out some clay Kalleya's studio.</figcaption>
        </figure>
    </div>
        <div class="link">
            <%= link_to image_tag('mail.svg'), "mailto:krista.developer@gmail.com"%>
        </div>
</div>