<h1>About</h1>
<img src="../app/views/pages/IMG_ECEA03F33F35-1.jpeg" alt="">
<p>This app was created by Krista Calleja, Josef Kalleya's last grandchild, who has very fond memories of her paternal grandfather. Born in 1985, she was too young to understand the depth of her grandfather's philosophical musings. Nonetheless, decades later, when furthering her language studies, she chose to study Dante Alleghieri's "Inferno" and there she came in touch with many of her grandfather's images she had glimpsed in her childhood.</p>