<div class="wrapper">
    <h1>Josef Kalleya</h1>
    <img src="assets/images/jk7.jpg" alt="">
    <div class="biography">
        <p>Josef Kalleya was born in Valletta, Malta on March 27th, 1989 to Gioacchino and Ludgarda Farrugia Busuttil. He started his apprenticeship in art studies in 1918, under the masters of Arturo Galdes, Giuseppe Calì, Lazzaro Pisani and Robert Caruana Dingli, to name a few. <br><br>In 1926, Kalleya went to Rome for the first time and there he honed in on his artistic studies at the Società di Belle Arti. It was in Rome too where he met his soon to be wife Elsa Ornaro. They married in Rome on July 7th, 1934. Kalleya's works are bound in the abstract and revolutionanised the modern art movement in Malta. <br><br>Kalleya's artistic value can not only be found in his sculptures and drawings, but also in his reasonings and punchlines, which deserve reflection too. <br><br><strong>Click on the button below to learn more.</strong></p>
    </div>
    <button>
        <%= link_to "Start Generator", quotations_random_path%>
    </button>
</div>