<div class="wrapper">
<%= render 'shared/navbar'%>
    <h2>Welcome to</h2>
    <h1>Josef Kalleya's</h1>
    <h2>Punchline Generator</h2>
    <div class="grid">
        <figure>
            <%= image_tag "jk7.jpg", alt: "Josef Kalleya portrait" %>
            <figcaption>Josef Kalleya, Maltese artist, 1898 - 1998.</figcaption>
        </figure>
            <p>Josef Kalleya was born in Valletta, Malta in 1898. He started his artistic apprenticeship during his teens, learning with masters like Arturo Galdes, Giuseppe Calì, Lazzaro Pisani and Robert Caruana Dingli, to name a few. 
            <br><br>In the early 1930's Kalleya furthered his artistic studies at the Società di Belle Arti, in Rome, Italy. It was there too where he met the young Elsa Ornaro, and they were soon married. On their return to Malta, Kalleya brought modern revoluntionary verve to the Maltese artistic scene. His works drew on the abstract, the philosophical and phantasmagorical. He passed away peacefully in 1998, surrounded by family and friends.
            <br><br>Apart from his striking sculptures and drawings, Kalleya's artistic value is also noted in his elocution. He would often greet friends with jocose phrases, which often left them perplexed. Kalleya would go to great lengths reasoning out and seeking meaning in language and its use for giving meaning to life.
            <br><br>This generator presents some of his most common musings, presented mostly in Maltese and English (translated). Some Italian phrases are found too.
    </div>
    <button>
        <%= link_to "Start Generator", quotations_random_path, {:class => 'css-button', :style => 'color: white'}%>
    </button>
</div>
    <div class="flexbox">
        <div class="facebook">
            <%= link_to image_tag('facebook.svg'), "https://www.facebook.com/kalleya" %>
        </div>
    </div>
</div>