
.grid img{
    background-size: cover;
        width: 100%;
        border-radius: 4px;
        box-shadow: 8px 6px 15px -5px rgba(0,0,0,0.64);
}
p{
    line-height: 1.8rem;
    text-align: left;
}
.link{
    margin: 0 230px;
}