button{
    background-color: $cultured;
    border: 2px $xiketic solid;
    border-radius: 50px;
    .css-button{
        padding: 15px 42px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        font-weight: 600;
        margin: 4px 2px;
        cursor: pointer;
        line-height: 2em;
    }
}