.nav{
  margin: auto;
  border: 3px red solid;
  max-width: 360px;
  display: flex;
  justify-content: space-between;
}
.background {
  background-image: url(111.jpg);
  opacity: 0.4;
  height: 100vh;
}
h2.quote{
  border: 3px red solid;
  position: relative;
  top: 8em;
  left: 20em;
  align-items: center;
  line-height: 1.8em;
  font-style: italic;
  text-align: center;
  max-width: 520px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.box{
  position: relative;
  bottom: 6em;
}
  