.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.6em;
    align-items: center;
    img{
        background-size: cover;
        width: 100%;
        border-radius: 4px;
        box-shadow: 8px 6px 15px -5px rgba(0,0,0,0.64);
    }
    p{
    //  border: 2px green solid;
     text-align: left;
     padding: 0 60px;   
    }
}