h1{
    font-size: 48px;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}
p{
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size: 16px;
    line-height: 1.8em;
}

.artist-image img{
    border-radius: 4px;
    box-shadow: 8px 6px 15px -5px rgba(0,0,0,0.64);
    height: 265px;
}

.biography{
    // border: 1px red solid;
    padding: 10px 120px;
}