.nav{
    position: relative;
    top: 10px;
    // border: 3px red solid;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 10px;
    .links{
        font-family: $general-font;
        justify-items: center;
        .css-links{
            text-decoration: none;
            border: 1px $xiketic solid;
            opacity: 0.9;
            font-size: 20px;
            line-height: 1em;
            border-radius: 3px;
            padding: 7px 16px;            
        }
    }
}
