.nav{
    position: relative;
    top: 10px;
    // border: 3px red solid;
    // max-width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .links{
        font-family: $general-font;
        justify-items: center;
        .css-links{
            text-decoration: none;
            background-color: $platinum;
            border: 1px $xiketic solid;
            font-size: 24px;
            line-height: 1em;
            border-radius: 3px;
            padding: 7px 22px;
        }
    }
}
