.wrapper{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    width: 97%;
    max-width: 1300px;
    background-color: #9A8C98;
    color: #011638;
    text-align: center;
}